
aside{
    width: 35%;
}

.main-div{
    display: flex;
    justify-content: space-between;
}
.container header{
    font-size: 48px;
    color:blueviolet;
    width: 100%;
}
.container header hr{
    border: 2px solid blueviolet;
}