
aside{
    width: 35%;
}

.main-div{
    display: flex;
    justify-content: space-between;
}
.container header{
    font-size: 48px;
    color:blueviolet;
    width: 100%;
}
.container header hr{
    border: 2px solid blueviolet;
}
.beveragePrice{
    transition: 0.6s;
}
.beveragePriceUp{
    color: rgb(15, 207, 15);
}
.beveragePriceDown{
    color:rgb(210, 28, 28);
}