.beveragePrice{
    transition: 0.6s;
  }
  .cards{
    display: flex;
  }
  .beveragePriceUp{
    color: rgb(15, 207, 15);
  }
  .beveragePriceDown{
    color:rgb(210, 28, 28);
  }
  .title{
    width: 100%;
    color: blueviolet;
    font-size: 24px;
  }